[submodule "external/DGraphFin/DGraphFin_baseline"]
	path = external/DGraphFin/DGraphFin_baseline
	url = https://github.com/DGraphXinye/DGraphFin_baseline.git
[submodule "external/DGraphFin/GEARSage-DGraphFin"]
	path = external/DGraphFin/GEARSage-DGraphFin
	url = https://github.com/storyandwine/GEARSage-DGraphFin.git
[submodule "external/DGraphFin/TGN-DGraphFin"]
	path = external/DGraphFin/TGN-DGraphFin
	url = https://github.com/ytchx1999/TGN-DGraphFin.git
[submodule "external/DGraphFin/qiyue111-DgraphFin_anti_fraud"]
	path = external/DGraphFin/qiyue111-DgraphFin_anti_fraud
	url = https://github.com/qiyue111-hub/DgraphFin_anti_fraud.git
